
.icon-music:before { content: '\e800'; } /* '' */
.icon-up:before { content: '\e801'; } /* '' */
.icon-share:before { content: '\e802'; } /* '' */
.icon-pinterest:before { content: '\e803'; } /* '' */
.icon-x:before { content: '\e804'; } /* '' */
.icon-tiktok:before { content: '\e805'; } /* '' */
.icon-sport:before { content: '\e806'; } /* '' */
.icon-instagram:before { content: '\e807'; } /* '' */
.icon-family:before { content: '\e808'; } /* '' */
.icon-developer:before { content: '\e809'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-copy:before { content: '\f0c5'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-facebook:before { content: '\f30e'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
