
.icon-up:before { content: '\e800'; } /* '' */
.icon-tiktok:before { content: '\e801'; } /* '' */
.icon-developer:before { content: '\e802'; } /* '' */
.icon-share:before { content: '\e803'; } /* '' */
.icon-headphones:before { content: '\e804'; } /* '' */
.icon-x:before { content: '\e805'; } /* '' */
.icon-family:before { content: '\e806'; } /* '' */
.icon-sport:before { content: '\e807'; } /* '' */
.icon-pinterest:before { content: '\e808'; } /* '' */
.icon-globe:before { content: '\e809'; } /* '' */
.icon-basket:before { content: '\e80a'; } /* '' */
.icon-camera:before { content: '\e80b'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-copy:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-delicious:before { content: '\f1a5'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
